<div class="footer g-body">
  <div class="article-credits">
    <each
      loop="item in (typeof footer === 'undefined' ? [] : footer.split('\n'))"
    >
      <p>{{{ item }}}</p>
    </each>
    <p>
      Template developed by Gulshan Meem and Hong Sen Du. Meem is a newsroom developer on the Newsroom Development team. Hong is the head of Newsroom Development.
      <br> <br> Produced with
      <a href="https://github.com/graphicsdesk/spectate">Spectate</a> by the
      <a href="https://graphicsdesk.github.io">Spectator Graphics</a> and
      <a href="https://github.com/NewsroomDevelopment">Newsroom Development</a>
      teams.
    </p>
  </div>
</div>
